In [1]:
#import the library 
from IPython.display import display
import pandas as pd
import sys

data_df = pd.read_csv("ratings.csv") 
display(data_df.head(10)) #display's 10 rows

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556
5       1     1968     4.0  1425942148
6       1     2762     4.5  1425941300
7       1     2918     5.0  1425941593
8       1     2959     4.0  1425941601
9       1     4226     4.0  1425942228

In [2]:
print(data_df.shape) #print's shape of dataframe

(26024289, 4)

In [3]:
print(sys.getsizeof(data_df)) #size in bytes

832777400

In [4]:
print(data_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB
None